
__pycache__/funcs.cpython-38.pyc
test.py
spectogram.png
*.pyc
added.wav
bezUwzglednieniemFazy.wav
zUwzglednieniemFazy.wav
.pylint.d/start1.stats
Screenshot_1638049270.png
.pylint.d/fun11.stats
/res/*
.pylint.d/testScript1.stats
